*{
    height: 100%;
    width: 100%;
  }
#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
body {
  background-color: #687354;

}



.frame {
  background-image: url('/src/assets/Photo\ Frame.svg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}